/* -------------------- Flaticon - Uicons -------------------- */

@import "./../../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
@import "./../../node_modules/@flaticon/flaticon-uicons/css/brands/all.css";

/* -------------------- Tailwind -------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* -------------------- Fuentes -------------------- */
@font-face {
    font-family: "fuente1";
    src: url("./../../public/imagenes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

/* -------------------- Colores -------------------- */

:root {
    --Negro: #000000;
    --Marron: #693132;
    --Verde1: #c4c9b5;
    --Verde2: #768f68;
    --Rosa: #c1929a;
    --Burdeos: #71212c;
}

/* -------------------- Común -------------------- */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

*:focus {
    outline: none;
}

/*TODO ---------- Modificar ---------- */
/* a, a:hover, a:focus, a:active {
    font-family: "";
    font-weight: 600;
	text-decoration: none;
	color: inherit; 
} */

a {
    transition: 0.3s all ease;
}

/*TODO ---------- Modificar ---------- */

/* a:hover, a:focus, a:active {
	color: ;
} */

/* body {
    background-color: ;
} */

/* input[type="checkbox"]:checked {
    background-color: var(--) !important;
} */

/* -------------------- Tipografía -------------------- */

h1 {
    font-family: "fuente1";
    color: var(--Negro);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "fuente1";
    font-weight: 600;
}

h2 {
    font-size: calc(1rem + 0.5vw);
}

h3,
h4,
h5 {
    font-size: calc(0.9rem + 0.4vw);
}

p {
    font-family: "fuente1";
    font-size: calc(0.7rem + 0.4vw);
}

/* -------------------- Contenido -------------------- */
.Contenido {
    background-image: url(/public/imagenes/VC.04.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    min-height: 100vh;
    height: fit-content;

    padding-bottom: 3rem;
}

/* -------------------- Home A -------------------- */
.HomeA {
    min-height: 60vh;
    height: fit-content;
    padding-bottom: 2rem;
}

.HomeA img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 600px) {
    .HomeA {
        background-image: url(/public/imagenes/VC.02.webp);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .HomeA img {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .HomeA {
        height: 90vh;
    }
}

/* -------------------- Home B -------------------- */
.HomeB {
    max-width: 1200px;
    margin: auto;
    padding: 0 calc(2rem + 2vw);
}

.HomeB h2 {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: larger;
    color: var(--Marron);
}

@media only screen and (min-width: 1100px) {
    .HomeB h2 {
        font-size: x-large;
    }
}

/* -------------------- Home C -------------------- */
.HomeC {
    width: 100%;
    padding: 0 calc(2rem + 1vw) calc(1.5rem + 1vw);
}

.HomeC0 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: calc(1.5rem + 2vw);
    background-color: var(--Burdeos);
    border-radius: 20px;
}

.HomeC9 {
    display: grid;
    gap: 15px;
}

.HomeC1 {
    display: grid;
    gap: 10px;
}

.HomeC1 label {
    font-family: "fuente1";
    font-size: large;
    color: #fff;
}

.HomeC1 input,
.HomeC1 textarea {
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
}

.HomeC2 {
    text-align: center;
    margin-top: 20px;
}

.input-fotos {
    display: none;
}

.btn-fotos {
    background-color: #fff;
    width: fit-content;
    margin: auto;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "fuente1";
    color: var(--Burdeos);
    font-weight: 700;
    border: 2px solid var(--Burdeos);
    transition: all 0.3s ease;
    display: inline-block;
}

.HomeC3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    padding-top: 2rem;
}

.HomeC4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    padding: .3rem 0;
}

.HomeC4 img {
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
}

.HomeC4 button {
    width: 100%;
    text-align: center;
    font-family: "fuente1";
    color: #fff;
}

.btn-enviar {
    background-color: var(--Burdeos);
    border: 2px solid #fff;
    color: #fff;
    width: fit-content;
    margin: 20px auto 0;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "fuente1";
    font-weight: 700;
    transition: all 0.3s ease;
    display: inline-block;
  }

  .btn-enviar:hover {
    background-color: #fff;
    color: var(--Burdeos);
  }


/* -------------------- Home Divisor -------------------- */

.HomeDivisor img {
    padding: 0 calc(2rem + 2vw);
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: auto;
    object-fit: contain;
}

/* -------------------- Home D -------------------- */
.HomeD {
    padding: 1.5rem calc(1rem + 5vw);

    column-count: 2;
    column-gap: 15px;
}

.HomeD img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    object-fit: contain;
    border-radius: 15px;
}

@media only screen and (min-width: 600px) {
    .HomeD {
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .HomeD {
        column-count: 4;
    }
}

@media only screen and (min-width: 1200px) {
    .HomeD {
        column-count: 5;
    }
}
