/* -------------------- Flaticon - Uicons -------------------- */

@import "./../../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
@import "./../../node_modules/@flaticon/flaticon-uicons/css/brands/all.css";

/* -------------------- Tailwind -------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* -------------------- Fuentes -------------------- */
@font-face {
    font-family: "fuente1";
    src: url("./../../public/imagenes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

/* -------------------- Colores -------------------- */

:root {
    --Negro: #000000;
    --Marron: #693132;
    --Verde1: #c4c9b5;
    --Verde2: #768f68;
    --Rosa: #c1929a;
    --Burdeos: #71212c;
}

/* -------------------- Común -------------------- */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

*:focus {
    outline: none;
}

/*TODO ---------- Modificar ---------- */
/* a, a:hover, a:focus, a:active {
    font-family: "";
    font-weight: 600;
	text-decoration: none;
	color: inherit; 
} */

a {
    transition: 0.3s all ease;
}

/*TODO ---------- Modificar ---------- */

/* a:hover, a:focus, a:active {
	color: ;
} */

/* body {
    background-color: ;
} */

/* input[type="checkbox"]:checked {
    background-color: var(--) !important;
} */

/* -------------------- Tipografía -------------------- */

h1 {
    font-family: "funete1";
    color: var(--Negro);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "fuente1";
    font-weight: 600;
}

h2 {
    font-size: calc(1rem + 0.5vw);
}

h3,
h4,
h5 {
    font-size: calc(0.9rem + 0.4vw);
}

p {
    font-family: "fuente1";
    font-size: calc(0.7rem + 0.4vw);
}

/* -------------------- Contenido -------------------- */
.Contenido {
    background-image: url(/public/imagenes/VC.04.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    min-height: 100vh;
    height: fit-content;

    padding-bottom: 3rem;
}

/* -------------------- Home A -------------------- */
.HomeA {
    min-height: 70vh;
    height: fit-content;
}

.HomeA img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 600px) {
    .HomeA {
        background-image: url(/public/imagenes/VC.02.webp);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .HomeA img {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .HomeA {
        height: 90vh;
    }
}

/* -------------------- Home B -------------------- */
.HomeB {
    max-width: 1200px;
    margin: auto;
    padding: 0 calc(2rem + 2vw);
}

.HomeB h2 {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: x-large;
    color: var(--Marron);
}

@media only screen and (min-width: 1400px) {
    .HomeB h2 {
        font-size: xx-large;
    }
}
